.meni {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.meni__item {
    float: left;
}

.meni__link {
    background-color: #446161;
    color: #FFD700;
    width: 120px;
    padding: 14px 25px;
    margin: 0px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.meni__link:hover {
    background-color: #6D8484;
}

.meni__dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    list-style-type: none;
    margin-left: 20px;
    padding: 0;
}

.meni__dropdown-link {
    background-color: #dfdfd1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.meni__dropdown-link:hover {
    background-color: #f1f1f19d
}

.meni__item--dropbtn:hover .meni__dropdown {
    display: block;
}