body  {
    width: 1000px;
    margin: 50px auto;
}
.header  {
    background-color: #ffa500;
    color: #5f3c3c;
    font-family: Arial, sans-serif;
    padding: 30px;
    margin: 5px;
    text-align: center;  
}
main  {
    padding: 10px;
    margin: 5px;
}
span {
    color:#ff0000;
}
h2  {
    text-align: center;
    color: #5f3c3c;
}
h3  {
    color: #E00C0C;
}
h4  {
    color: #639504;
    margin-top: 10px;
}

.aside {
    border-collapse: collapse;
    border: 3px solid #ffa500;
    width: 30%;
    height: 1400px;
    float: left;
    background-image: url('../images/smile.png');
    font-family: Sofia;   
}
.aside-shade  {
    background-color: rgba(255, 255, 255, 0.6);
}

.aside-shade h2  {
    text-align: center;
    color: #311f1f;
}

.aside-shade p  {
    font-size: 16px;
    font-weight: bold;
    text-align: justify;
    padding: 5px;
}

.section-right-top  {
    padding: 10px;
    margin-bottom: 10px;
    width: 65%;
    height: 500px;
    float: right;
    font-size: 18px;
    font-family: Questrial;
    text-align: justify;
    color: #2F4F4F;
    border-bottom: 3px solid #2F4F4F;
}

.img-right-top  {
    float: right;
    width: 200px;
    height: 200px;
    margin-left: 10px;
}

.section-right-middle  {
    padding: 0 10px;
    width: 65%;
    height: 540px;
    float: right;
    text-align: justify;
    color: #202b2b; 
    background-color: #FFD700;
    margin-bottom: 10px;
}

.section-right-bottom  {
    padding: 0 10px;
    width: 65%;
    height: 320px;
    float: right;
    text-align: justify;
    color: #202b2b; 
    background-color: #FFD700;
    margin-bottom: 10px;
}

.section-bottom-left  {
    width: 50%;
    float: left;
    background-color: #fffc60;
    margin-bottom: 5px;
}
.section-bottom-right  {
    width: 50%;
    float: right;
    background-color: #fffc60;
    color: #202b2b;
    margin-bottom: 5px;
}
.footer  {
    background-color: #ffa500;
    color: #5f3c3c;
    font-family: Arial, sans-serif;
    padding: 30px;
    margin: 5px;
    text-align: center;
    clear: both;
}